<h2 class="text-lg font-medium">Gestión de pedidos</h2>
<div class="flex">
  <section class="w-1/6">
    <nav class="pt-4 text-sm italic">
      <ul class="space-y-5">
        <li>
          <a routerLink="./" class="border p-1 bg-blue-600 text-white" >listado</a>
        </li>
        <li>
          <a routerLink="./new-orders" class="border p-1 bg-blue-600 text-white">Nuevo pedido</a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="w-5/6">
    <router-outlet></router-outlet>
  </section>
</div>
